
/*
	Slideshow
*/

#slides {
	position:relative;
   /*top:15px;
	left:4px;*/	
	z-index:100;
	padding:30px 0px 0px 0px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:380px;
	height:240px;
	overflow:hidden;
	position:relative;
	display:block;
	border:5px solid #fff;
	border/*\**/:3px solid #dddddd\9;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px; 
	-moz-box-shadow: 0 0 5px 2px #ccc; 
	-webkit-box-shadow: 0 0 5px 2px#ccc; 
	box-shadow: 0 0 5px 2px #ccc;
	
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:380px;
	height:240px;
	background:url("../images/slider_background.png") repeat center;
	display:block;
	
}

.slides_container a img {
	display:block;
	border:none;
	
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:15px 0px 0px 180px;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

