	@charset "utf-8";
/*---CSS Document---*/

@import url("reset.css");


@font-face {
    font-family: 'Lobster1.4Regular';
    src: url('../font/lobster_1.4-webfont.eot');
    src: url('../font/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lobster_1.4-webfont.woff') format('woff'),
         url('../font/lobster_1.4-webfont.ttf') format('truetype'),
         url('../font/lobster_1.4-webfont.svg#Lobster1.4Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BitterRegular';
    src: url('../font/bitter-regular-webfont.eot');
    src: url('../font/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bitter-regular-webfont.woff') format('woff'),
         url('../font/bitter-regular-webfont.ttf') format('truetype'),
         url('../font/bitter-regular-webfont.svg#BitterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*---Overall---*/

html {
height:100%;
background:url("../images/background.jpg");
}

html,body {
height:100%;
margin:0;
font-family:'BitterRegular', Helvetica, sans-serif;
font-size:13px;
font-weight:normal;
color:#1e5050;
line-height:24px;
font-smooth:always;
-webkit-font-smoothing:antialiased;
/*text-shadow:0 1px 1px rgba(0,0,0,.8);*/
}

p{
margin:0;
text-align:justify;
margin:0px 0px 15px 0px; 
}

.first_paragraph {
padding-top:25px;
}

h1{
font-family:"Lobster1.4Regular", Times News Roman, serif;
font-size:30px;
font-weight:normal;
line-height:60px;
color:#1e5050;
display:inline;
margin:0;
}

h2{
font-family:'BitterRegular', Helvetica, sans-serif;
font-size:20px;
font-weight:normal;
line-height:30px;
margin:0;
color:#1e5050;
margin:0px 0px 25px 0px;
}

h3{
font-family:"Lobster1.4Regular", Times News Roman, serif;
font-size:18px;
font-weight:normal;
line-height:28px;
color:#1e5050;
margin:0px 0px 25px 0px;
}

h4{
font-family:'BitterRegular', Helvetica, sans-serif;
font-size:20px;
font-weight:normal;
padding-left:25px; 
line-height:20px;
color:#ffffff;
}

h5 {
font-family:"Lobster1.4Regular", Times News Roman, serif;
font-size:16px;
font-weight:normal;
color:#fff;
letter-spacing: 0.1em;
margin:0;
}

.header {
width:100%;
height:100%;
background:url("../images/header_background.png") repeat-x 50% 50%;
}

.logo_forIE {
margin-top:-1px\9;
padding-left:2px\9;
margin-top:-1px\0/;
padding-left:2px\0/;
}

.wrapper {
width:950px; 
margin:0 auto; 
}

.content {
  padding-bottom:53px;
}

.overall {
  width:100%;
  min-height:100%;
  height:auto;
  position:relative;
  top:0px;
  bottom:0px;
}

.body_text {
  margin: 0px 25px 0px 25px;
  padding-bottom:25px;
}

.content_area_top{
width:900px;
height:auto;
margin:10px 25px 0px 25px;
background:#ffffff;
border:1px solid #93d7bb;
border-bottom:none;
}

.content_area_mid{
width:900px;
height:auto;
margin:0px 25px 0px 25px;
background:#ffffff;
border-left:1px solid #93d7bb;
border-right:1px solid #93d7bb;
}

.content_area_btm{
width:900px;
height:auto;
margin:0px 25px 20px 25px;
padding:0px 0px 20px 0px;
background:#ffffff;
border:1px solid #93d7bb;
border-top:none;
}

.subtitle {
  background:url('../images/corner.png') 0 0 no-repeat; 
  width:950px; 
  height:48px;
  position:relative;
}

.corner {
  background:#fff; 
  margin:0px 23px 0px 25px; 
  height:48px; 
  border-right:1px solid #93d7bb; 
  position:relative;
}

.subtitle h4 {
  font-family:'BitterRegular', Helvetica, sans-serif;
  font-size:20px;
  font-weight:normal;
  padding-left:25px; 
  background:#76c1a2; 
  height:34px; 
  line-height:34px; 
  display:inline-block; 
  color:#ffffff;
  margin:0;
}

.flag {
  position:absolute; 
  display:block;
  top:0; 
}

.banner_lite {
	width:174px;
	height:258px;
	overflow:hidden;
	position:relative;
	display:block;
	border:5px solid #fff;
	border/*\**/:3px solid #dddddd\9;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px; 
	-moz-box-shadow: 0 0 5px 2px #ccc; 
	-webkit-box-shadow: 0 0 5px 2px#ccc; 
	box-shadow: 0 0 5px 2px #ccc;
}

.image_box {
	width:auto;
	height:auto;
	overflow:hidden;
	position:relative;
	display:block;
	border:5px solid #fff;
	border/*\**/:3px solid #dddddd\9;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px; 
	-moz-box-shadow: 0 0 5px 2px #ccc; 
	-webkit-box-shadow: 0 0 5px 2px#ccc; 
	box-shadow: 0 0 5px 2px #ccc;
}

/*---Main Menu---*/
#maincurrent{
text-decoration:none;
background:#76c1a2 center;
width:auto;
height:45px;
border-top:3px solid #346c65;
border-left:2px solid #346c65;
background-position:center;
display:block;
font-size:12px;
color:#ffffff;
padding:0px 9px 0px 9px;
}

.mainmenu{
margin:0px;
font-family:"BitterRegular", Times News Roman, serif;
font-weight:normal;
color:#ffffff;
height:50px;
width:450px;
*width:900px;
float:right;
padding:17px 0px 0px 0px;
padding:16px 0px 0px 0px\0/;
*padding:0px 0px 0px 0px;
}

	.mainmenu ul{
	list-style:none;
	margin:0;
	padding:0;
	}
		.mainmenu li{
		float:right;
		height:50px;
		width:auto;
		#width: 92px;
		text-align:center;
		}
		
		.mainmenu li a{
		background:none;
		font-weight:normal;
		margin:auto;
		width:auto;
		height:50px;
		padding:0px 10px 0px 10px;
		text-decoration:none;
		line-height:50px;
		*line-height:24px;
		font-size:12px;
		color:#1e5050;
		display:block;
		}
	
		.mainmenu li a:hover/*,
		.mainmenu ul li:hover a*/{
		width:auto;
		height:45px;
		text-decoration:none;
		background:#76c1a2 center;
		padding:0px 9px 0px 9px;
		border-top:3px solid #346c65;
		border-left:2px solid #346c65;
		background-position:center;
		display:block;
		font-size:12px;
		color:#ffffff;
		display:block;
		}
		
			.mainmenu li ul{
			display:none;
			margin:0;
			padding:0;
			border:0;
			width:170px;
			height:190px;
			background-color:#76c1a2;
			position:absolute;
			z-index:1000;
			/*top:1em;
			/*left:0;*/
			}

			.mainmenu li:hover ul{
			display:block;
			}
			
				.mainmenu li li {
				border:0;
				margin:0;
				padding:0px;
				display:block;
				width:170px;
				height:45px;
				display:block;
				text-align:left;
				text-decoration:none;
				font-size:12px;
				font-style:normal;
				line-height:14px;
				vertical-align:middle;
				
				}
				
				.mainmenu li:hover li a{
				background:none;
				border-top:3px solid #346c65;
				border-left:2px solid #346c65;
				}
		
					.mainmenu li ul a{
					display:block;
					margin:0px;
					padding:0px 0px 0px 20px;
					font-size:12px;
					font-style:normal;
					line-height:45px;
					}
					
					.mainmenu li:hover ul li a:hover {
					text-decoration:none;
					border-top:3px solid #346c65;
					border-left:2px solid #346c65;
					padding:0px 0px 0px 20px;
					width:148px;
					}
					
					.mainmenu li ul li:hover a{
					border:0px;
					width:150px;
					height:45px;
					text-decoration:none;
					}

/*---Main Menu End---*/

/*---Footer Menu---*/

.footer{
width:100%;
height:53px;
display:block;
background:url("../images/header_background.png") repeat-x center;
position:absolute;
bottom:0;
left:0;
}
	
#footer_menu{
color:#1e5050;
height:auto;
width:700px;
font-size:10px;
float:left;
padding:15px 0px 0px 25px;
}
	
	#footer_menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position:relative;
	z-index:90;
	float:left;
	}
	
		#footer_menu ul li {
		float:left;
		display:inline-block;
		padding:0px 20px 0px 20px;
		font-size:10px;
		width:auto;
		}
	
		#footer_menu ul li a{
		color:#1e5050;
		text-decoration:none;
		}
	
		#footer_menu ul li a:hover{
		color:#76c1a2;
		text-decoration:none;
		}	
		
			#footer_menu li ul{
			display:none;
			height:auto;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:absolute;
			z-index:200;
			}
	
			#footer_menu li:hover ul{
				display:block;
			}
	
				#footer_menu li li {
				margin:0px;
				padding:10px 0px 0px 0px;
				color:#fbeb8c;
				}
		
				#footer_menu li:hover li a{
				background:none;
				margin:0px;
				}	
	
					#footer_menu li ul a{
					float:left;
					margin:0px;
					}
		
						#footer_menu li ul a:hover, .mainmenu li ul li:hover a{
						border:0px;
						color:#ffffff;
						text-decoration:none;
						}
						
.copyright{
float:right;
color:#1e5050;
font-size:10px;
height:52px;
width:200px;
padding:15px 0px 0px 0px;
}

/*---Footer Menu End---*/

.social_icon_1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:35px;
  height:40px;
}

.social_icon_1:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook_active.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:35px;
  height:40px;
}

.social_icon_2 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/twitter.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:35px;
  height:40px;
}

.social_icon_2:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/twitter_active.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:35px;
  height:40px;
}

#btnSubmit {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_submit.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:120px;
  height:60px;
  text-indent: -9000px; 
  text-transform: capitalize;
}

#btnSubmit:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_submit_hover.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:120px;
  height:60px;
  text-indent: -9000px; 
  text-transform: capitalize;
}

.tab {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/tab.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:80px;
  height:300px;
  position:fixed;
  top:200px;
  right:0;
  text-indent: -9000px; 
  text-transform: capitalize;
  z-index:9999;
}

.tab:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/tab_hover.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:80px;
  height:300px;
  position:fixed;
  top:200px;
  right:0;
  text-indent: -9000px; 
  text-transform: capitalize;
  z-index:9999;
}




